h1{
    color: palevioletred;
    align-content: center;
    text-align: center;
   

}

p{
    color: palevioletred;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;

}

a{
    color: palevioletred;
    padding-left: 50px;
}