
img{
    width: 400px;
    height: 400px;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
}

h1{
    color: palevioletred;
    padding-left: 50px;
}
a{
    color: palevioletred;
    padding-left: 50px;
}

p{
    color: palevioletred;
    padding-left: 50px;
}